[submodule "module-utils"]
 path = module-utils
 url =  git@github.com:XingXiaoGang/module-utils.git
 
 [submodule "module-view"]
 path = module-view
 url =  git@github.com:XingXiaoGang/module-view.git
[submodule "module-locker"]
	path = module-locker
	url = git@github.com:XingXiaoGang/module-locker.git
[submodule "module-fingerprint"]
	path = module-fingerprint
	url = git@github.com:XingXiaoGang/module-fingerprint.git
